.game-cover {
    height: 170px;
    width: 100%;
    background-size: cover;
    background-position: center;
    border-radius: var(--border-radius-medium);
    /* border-top-right-radius: var(--border-radius-medium); */
}