.game-item {
    color: var(--color-white);
    width: 320px;
    height: 300px;
    background-color: var(--color-cart-blue);
    cursor: pointer;
    border-radius: var(--border-radius-medium);
    position: relative;
}
.game-item:not(:last-child) {
    margin-bottom: var(--spacing-medium);
    margin-right: var(--spacing-large);
}
.game-item__details {
    padding: var(--spacing-small) var(--spacing-medium);
}
.game-item__title {
    font-size: var(--font-size-subheader);
    font-weight: var(--font-bold);
}
.game-item__genre {
    margin-top: var(--spacing-ultrasmall);
    display: flex;
    flex-wrap: wrap;
}
.game-item__description {
    margin-top: var(--spacing-small);
    font-size: var(--font-size-main);
}
.game-item__buy {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: var(--spacing-small) var(--spacing-medium);
}