.order-item {
    display: flex;
    margin-bottom: var(--spacing-large);
}

.order-item__cover {
    width: 200px;
    margin-right: var(--spacing-large);
}

.order-item__title {
    font-style: var(--font-size-header);
    font-weight: bold;
    display: flex;
    align-items: center;
}

.order-item__price {
    font-style: var(--font-size-header);
    font-weight: bold;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}