.btn {
    border-radius: var(--border-radius-medium);
    color: var(--color-white);
    border: none;
    padding: var(--spacing-small) var(--spacing-medium);
    cursor: pointer;
}
.btn-secondary {
    background-color: var(--color-blue-light);
}
.btn-primary {
    background-color: var(--color-blue);
}
.btn-small {
    font-size: var(--font-size-small);
}
.btn-medium {
    font-size: var(--font-size-medium);
}